In [ ]:
#1a. Display the first and last names of all actors 
#from the table `actor`. 
use sakila;

SELECT first_name, last_name FROM actor;

In [ ]:
#1b. Display the first and last name of each actor in a single column 
#in upper case letters. Name the column `Actor Name`.

SELECT CONCAT(`first_name`, ' ', `last_name`) AS `Actor Name` FROM actor;

In [ ]:
#2a. You need to find the ID number, first name, and last name of an actor,
#of whom you know only the first name, "Joe." 
#What is one query would you use to obtain this information

SELECT actor_id, first_name, last_name FROM actor WHERE first_name = 'Joe' ;

In [ ]:
#2b. Find all actors whose last name contain the letters `GEN`:

SELECT * FROM actor WHERE last_name LIKE '%gen%';

In [ ]:
#2c. Find all actors whose last names contain the letters `LI`. 
#This time, order the rows by last name and first name, in that order:

SELECT * FROM actor WHERE last_name LIKE '%li%' ORDER BY last_name, first_name;

In [ ]:
#2d. Using `IN`, display the `country_id` and `country` columns of the 
#following countries: Afghanistan, Bangladesh, and China:

SELECT country_id, country FROM country WHERE country IN ('Afghanistan', 'Bangladesh', 'China');

In [ ]:
#3a. Add a `middle_name` column to the table `actor`. 
#Position it between `first_name` and `last_name`. 
#Hint: you will need to specify the data type.

ALTER TABLE actor ADD middle_name VARCHAR(255) AFTER first_name;

In [ ]:
#3b. You realize that some of these actors have tremendously long 
#last names. Change the data type of the `middle_name` column to `blobs`.

ALTER TABLE actor MODIFY last_name BLOB;

In [ ]:
#3c. Now delete the `middle_name` column.

ALTER TABLE actor DROP COLUMN middle_name;

In [ ]:
#4a. List the last names of actors, 
#as well as how many actors have that last name.

SELECT last_name, COUNT(*) FROM actor GROUP BY last_name;

In [ ]:
#4b. List last names of actors and the number of actors who have that 
#last name, but only for names that are shared by at least two actors

SELECT last_name, COUNT(*) FROM actor GROUP BY last_name HAVING COUNT(*) > 2;

In [ ]:
#4c. Oh, no! The actor `HARPO WILLIAMS` was accidentally entered 
#in the `actor` table as `GROUCHO WILLIAMS`, the name of 
#Harpo's second cousin's husband's yoga teacher. 
#Write a query to fix the record.

SELECT *
FROM actor
WHERE last_name = 'Williams' AND first_name = 'Groucho';


UPDATE actor
SET first_name = 'HARPO'
WHERE last_name = 'Williams' AND first_name = 'Groucho';